*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* html{
    scroll-behavior: smooth;
    
} */
.firstimage{
    background-image: url(https://static.wixstatic.com/media/c837a6_aa7c239e685b4a9989f2ab7fbbeb106b~mv2.jpg/v1/fill/w_1903,h_1093,al_c,q_90,usm_0.66_1.00_0.01,enc_avif,quality_auto/c837a6_aa7c239e685b4a9989f2ab7fbbeb106b~mv2.jpg);
    width: 100%;
    height: 1093px;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title{
    position: absolute;
    padding-top: 50px;
    font-size: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Cormorant Garamond", serif;
    color: #2d5661;
    font-weight: 600;
    
}

.title p{
    font-family: "Cormorant Garamond", serif;
    height: 80px;
    margin: 0px;
}
svg{
    width: 50px;
    height: 50px;
    rotate: 180deg;
    color: #779297;
}
.title svg{
    width: 60px;
    height: 60px;
}
.start{
    display: flex;
    justify-content: space-around;
    height: 1157px;
}
.leftCard{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 100px;
}
.rightCard{
    padding-top: 150px;
}
.leftText{
    padding-top: 300px;
    display: flex;
    flex-direction: column;
    width: 416px;
    text-align: center;
    gap: 20px;
    
}
.leftText h2{
    font-size: 50px;
    color: #2d5661;
}
.leftText p{
    text-align: center;
    font-size: 14px;
    width: 366px;
    padding-left: 20px;
    color: #131414;
    font-weight: 200;
    
}
.circle1{
    background-color: transparent;
    border: 1px solid #2d5661;
    border-radius: 50%;
    width: 173px;
    height: 173px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #2d5661;
}
.circle2{
    background-color: transparent;
    border: 1px solid #2d5661;
    border-radius: 50%;
    width: 173px;
    height: 173px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #2d5661;
}
.circle3{
    background-color: transparent;
    border: 1px solid #2d5661;
    border-radius: 50%;
    width: 173px;
    height: 173px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #2d5661;
}
p{
    margin-bottom: 0 !important; 
    font-family: "Cormorant Garamond", serif !important; 
    font-weight: 900 !important;
}
.circle1:hover{
    background-color: #2d5661;;
    color: white;
    transition: 0.5s;
}
.circle2:hover{
    background-color: #2d5661;;
    color: white;
    transition: 0.5s;
}
.circle3:hover{
    background-color: #2d5661;;
    color: white;
    transition: 0.5s;
}
.position{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.position img{
    position: absolute;
    z-index: -1;
    top: 135px;
}
.bigText{
    display: flex;
    height: 421px;
    flex-direction: column;
    align-items: flex-end;
    width: 1725px;
    justify-content: center;
    gap: 30px;
}
.bigText h2{
    font-size: 50px;
    color: #2d5661;
}
.bigText p{
    font-size: 14px;
    width: 483px;
    text-align: end;
}
.trietment{
    display: flex;
}
.images{
    display: flex;
    gap: 40px;
    padding-left: 200px;
}
.tcircle{
    display: flex;
    width: 535px;
    justify-content: flex-end;
    padding-right: 160px;
}
.cards{
    display: flex;
    padding-bottom: 100px;
    padding-top: 100px;
}
.leftContent{
    display: flex;
    width: 954px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}
.shopTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 200px;
}
.shopTitle h2{
    width: 350px;
    text-align: center;
    font-size: 50px;
    color: #2d5661;
    
}
.shopTitle p{
    width: 362px;
    text-align: center;
    gap: 20px;
}
h2{
    font-family: "Cormorant Garamond", serif;
    font-weight: 500;
}   
p{
    font-family: "Lato", serif ;
}
.opening{
    gap: 70px;
    display: flex;
    flex-direction: column;
    padding-top: 200px;
    padding-left: 335px;
    position: relative;
    height: 800px;
}
.opening img{
    position: absolute;
    width: 1712px;
    height: 590px;
    right: 0px;
    opacity: 0.8;
}
.leftContent img{
    padding-right: 460px
    
}
.days{
    display: flex;
    gap: 69px;
    z-index: 999;
}
.text{
    z-index: 999;
    padding-top: 165px;
}
.text h2{
    font-size: 50px;
    color: #2D5661;
    font-weight: 800;
}
.monsut,.saturday,.sunday{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.days h3{
    font-size: 25px;
    color: #385F69;
    font-family: "Lato", serif ;
    font-weight: 100;
}
.monsut,.saturday,.sunday p{
    font-size: 14PX;
    color: black;
}
.location{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 332px;
    justify-content: center;
    gap: 30px;
}
.location h2{
    text-transform: uppercase;
    color: #385F69;
    font-size: 50px;
    font-weight: 800;
}
.location p{
    font-size: 14px;
}
.images{
    align-self: center;
    height: 830px;
}
.images img{
    height: 701px;
}

.shopTitle img{
    visibility: hidden;
    height: 0px;
    width: 0px;
}
.circle3 img{
    visibility: hidden;
    width: 0;
    height: 0;
    padding-right: 0;
}
.images2{
    display: flex;
    gap: 20px;
    justify-content: center;
}

@media screen and (max-width: 500px){

    .firstimage{
        width: 100%;
        height: 478px;
        background-position: center;
        background-size:cover;
        background-attachment:unset;
    }
    .firstimage img{
        width: 100%;
    }
    .title{
        height: 80px;
    }
    .title p{
        font-size: 35px;
    }
    .title svg{
        width: 40px;
        height: 40px;
        margin-bottom: 60px;
    }
    .start{
        flex-direction: column-reverse;
        height: 1550px;
        padding-bottom: 70px;
        
    }
    .start img{
        padding-bottom: 30px;
    }
    .leftText{
        padding-top: 0px;
    }
    .leftText h2{
        font-size: 30px !important;
    }
    .rightCard{
        padding-top: 50px;
    }
    .rightCard img{
        width: 100%;
    }
    .circle1{
        position: absolute;
        bottom: -108px;
        z-index: 1;
    }
    .position img{
        position: relative;
        top: 0px;
    }
    .bigText{
        height: 300px;
        width: 100%;
        text-align: center;
        align-items: center;
    }
    .bigText h2{
        font-size: 30px;
        width: 230px;
    }
    .leftContent{
        width: 100%;
    }
    .bigText p{
        width: 200px;
        text-align: center;
    }
    .images{
        flex-direction: column;
        padding-left: 0px;
        position: absolute;
        width: 100%;
    }
    .trietment{
        height: 900px;
        flex-direction: row;
    }
    .images img{
        height: 325px;
        width: 100%;
    }
    .tcircle{
        position: relative;
        bottom: -690px;
        z-index: 999;
        height: 250px;
    }
    .shopTitle{
        padding-top: 0;
    }
    .shopTitle img{
        visibility: visible;
        width: 100%;
        height: 291px;
        padding-right: 0;
    }
    .shopTitle p{
        padding-top: 45px;
    }
    .rightimage{
        display: none
    }
    .circle3 img{
        visibility: visible;
        height: 281px;
        width: 100%;
    }
    .leftContent img{
        visibility: hidden;
        width: 0px;
        height: 0px;
    }
    .cards{
        position: relative;
    }
    .shopTitle h2{
        font-size: 30px;
        width: 230px;
        padding-bottom: 20px;
    }
    .circle3{
        position: absolute;
        bottom: 50px;
    }
    .shopTitle img:nth-child(2){
        visibility: visible;
        width: 100%;
        height: 280px;
    }
    .shopTitle img:nth-child(4){
        visibility: visible;
        padding-top: 20px;
        width: 250px;
        height: 300px;
    }
    .opening{
        padding-top: 0;
        padding-left: 0;
        position: relative;
        height: 710px;
    }
    .opening img:nth-child(1){
        display: none;
        width: 0px;
        height: 0px;
        position: relative;
    }
    .opening img:nth-child(4){
        width: 100%;
        height: 200px ;
        position: relative;
    }
    .opening h3{   
        font-size: 18px;
    }
    .text h2{
        font-size: 30px;
    }
    .text{
        padding-top: 0;
        text-align: center;
    }
    
    .days{
        flex-direction: column;
        align-items: center;
    }
    .monsut{
        text-align: center;
    }
    .location{
        height: 197px;
        align-items: center;
        gap: 20px;
        padding-top: 54px;
    }
    .location p{
        width: 200px;
    }
    .location h2{   
        font-size: 30px;
    }
    .images2{
        flex-direction: column;
        
    }
    .images2 img{
        height: 212px;
    }

}