*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
P{
    font-size: 14px;
}
li{
    font-size: 14px;
}
section{
    padding-top: 150px;
    padding-left: 200px;
    display: flex;
    flex-direction: column;
    gap: 100px;
    .first{
        width: 685px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        h1{
            font-size: 50px;
            color: #2D5661;
            font-weight: 500 !important;
        }
        p{
            
            font-weight: 300 !important;
        }
        
    }
    .second{
        display: flex;
        flex-direction: column;
        gap: 50px;
        h2{
            font-size: 35px;
            color: #2D5661;
        }
        p{
            width: 761px;
        }
    }
}
@media screen and (max-width: 500px) {
    section{
        
        gap: 20px;
        padding: 10px 25px;
    }
    .first{
        width: 100% !important;
    }
    .second{
        gap: 5px !important;
    }
    p{
        width: 100%;
    
    }
    h1{
        font-size: 30px !important;
    }
    h2{
        font-size: 20px !important;
    }
}